
.taskItem {
  position: absolute;
  background: rgba(255, 255, 255, 0.05);
  height: 80%;
  backdrop-filter: blur(20px);
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.3s ease;
}

.taskItem:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
}
